@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: inherit;
}

main {
  min-height: inherit;
}

h1 {
  color: orange;
  font-size: 40px;
}

.sounds button {
  padding: 0;
  border: none;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  min-height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
}

.sound-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 10px;
}

.sound-icon {
  position: absolute;
}

.sound-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sound-list {
  display: flex;
  gap: 20px;
}